<!-- Sidebar for the docs pages -->

{{ $url := .RelPermalink }}

<div class="card">
    <div class="card-header">
        <h5>Documentation</h5>
    </div>
    <div class="card-body">
        <ul class="navbar-nav flex-column">
            {{ range .Page.FirstSection.Pages }}
                <li class="nav-item">
                    <a class="nav-link {{ if eq $url .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>

    </div>
</div>

